{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Change Password" %}</title>
    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
            font-family: 'Inter', sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    </style>
</head>
<body class="bg-[#121212] flex flex-col items-center justify-center min-h-screen p-4 text-white">
    <div class="w-full max-w-md">
        <h2 class="text-xl font-bold text-white mb-6 text-center">{% trans "Change Password" %}</h2>

        <form method="post" action="{% url 'account_change_password' %}" class="space-y-4">
            {% csrf_token %}
            {% for field in form %}
                <div>
                    <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-400">{{ field.label }}</label>
                    <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" id="{{ field.id_for_label }}" class="mt-1 block w-full p-3 rounded-xl bg-white text-gray-900 border border-gray-600 focus:outline-none focus:border-blue-500" {% if field.value %}value="{{ field.value }}"{% endif %}>
                    
                    {% for error in field.errors %}
                        <p class="mt-1 text-[0.7rem] text-red-500">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
            {% if form.non_field_errors %}
                <div class="bg-red-500/20 text-red-500 p-3 rounded mb-4 text-center text-[0.7rem]">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <button type="submit" class="w-full bg-[#202020] text-white p-3 rounded-xl font-semibold hover:bg-gray-800 transition duration-200">{% trans "Change Password" %}</button>
        </form>
    </div>
</body>
</html>